.comments {
    padding-bottom: 20px;

    &-submit {
        display: flex;
        flex-wrap: wrap;
        width: 700px;
        margin-bottom: 30px;

        &-caption {
            width: 100%;
            margin-left: 10px;
        }

        &-input {
            width: 80%;
        }

    }
}