.header {
    box-sizing: border-box;
    padding: 20px 0 20px 0;
    background-color: $color-main;
    
    width: 100%;

    &-wrapper {
        width: 1280px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}