.login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &-caption {
        font-size: 15px;
        width: 100%;
        text-align: center;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    div {
        margin-top: 0;
    }

    button {
        margin-bottom: 8px;
    }

    input {
        padding: 10px 10px;
    }

    label {
        transform: translate(14px, 12px) scale(1);
    }
}